*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Indie Flower', cursive;
    background-image:url(../images/background-2847042_1920.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center 0;
    margin: 40px;
}

ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

li{
    text-decoration:none;
    background:lightgoldenrodyellow;
    color: darkslategrey;
    height:250px;
    width:250px;
    padding:20px;
    overflow:hidden;
    list-style:none;
    margin:10px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
}

li:nth-child(even){
    transform: rotate(-4deg);
    background:#cfc;
}

li:nth-child(even) textarea{
    background:#cfc;
}

li:nth-child(3n){
 transform: rotate(-2deg);
    background:#ccf;
}

li:nth-child(3n) textarea{
    background:#ccf;
}

li:nth-child(5n){
    transform: rotate(3deg);
}

li:hover, li:focus {
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.20);
    z-index: 5;
}

.container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.addNote {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    border:none;
    background-color: transparent;
}

.addNote:hover,.addNote:focus{
    cursor: pointer;
    outline: none;
}

.addNote:active, .deleteAll:active {
    outline: none;
}

.deleteAll{
    width: 48px;
    height: 50px;
    border: none;
    background-color: transparent;
}

.deleteAll:hover, .deleteAll:focus{
    cursor:pointer;
    outline: none;
}

.delete {
    float: right;
    width: 34px;
    height: 34px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
}

.delete:hover, .delete:focus {
    cursor: pointer;
    outline: none;
}

.header{
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    width: 240px;
    background:lightgoldenrodyellow;
    border: none;
    font-weight: bold;
}

.text{
    font-family: 'Indie Flower', cursive;
    font-size: 12px;
    width: 240px;
    height: 150px;
    background:lightgoldenrodyellow;
    border: none;
}

textarea{
    resize: none;
}

textarea:focus{
    outline: none;
}